.About {
    text-align: center;
  }
  
  .About__photo {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  
  h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
  }

  
  @media (max-width: 767px) {
    .About__photo {
      width: 200px;
      height: 200px;
    }
  
    h1 {
      font-size: 28px;
    }
  
    p {
      font-size: 16px;
    }
  }